<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Available Service Categories</h2>
        <ol>
            <% categories.forEach(category => { %>
                <li><a href="/category/<%= category.category_id %>"><strong><%= category.name %></strong></a></li>
            <% }); %>
        </ol>
    </main>
<%- include('partials/footer') %>