<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><strong><%= projectDetails.title %></strong></h2>
        <% if (user && user.role_name === 'admin') { %>
            <a class="category-tag" href="/assign-categories/<%= projectDetails.project_id %>"> ✎ Edit Categories</a>
        <% } %>
    <% projectDetails.category_list.forEach(category => { %>
        <a class="category-tag" href="/category/<%= category.id %>"><%= category.name %></a>
    <% }); %>



    <p>Description: <%= projectDetails.description %></p>
    <p>Project Date: <%= projectDetails.project_date %></p>
    <p>Project Location: <%= projectDetails.location %></p>
    <br>
    <p>Organized By <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a></p>
    
    <% if (user && user.role_name === 'admin') { %>
        <p><a href="/edit-project/<%= projectDetails.project_id %>">Edit Project Details</a></p>
    <% } %>  
    
    <% if (user) { %>
            <% if (!userIsVolunteered) { %>
                    <form class="leaveProject" action="/process-registration" method="POST" style="margin-top: 10px;">
                        <input type="hidden" name="project_id" value="<%= projectDetails.project_id %>">
                    
                        <button type="submit" class="category-tag" style="background-color: #8eb486; color: #ffffff; border: 1px solid #8eb486; cursor: pointer;">
                            Volunteer Now
                        </button>
                    </form>
            <% } else { %>  
                    <p style="margin-top: 10px;">You are volunteering for this project!</p>
                    <form class="leaveProject" action="/process-unregistration" method="POST" style="margin-top: 3px;" onsubmit="return confirm('Are you sure you want to leave this project?');">
                        <input type="hidden" name="project_id" value="<%= projectDetails.project_id %>">

                        <button type="submit" class="category-tag" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; cursor: pointer;">
                            Leave Project
                        </button>
                    </form>
            <% } %>
    <% } %>   
</main>
<%- include('partials/footer') %>